<h1>Submit an Article</h1>
<%= form_for @article, :url => addWork_url do |f| %>
  <%= f.label :title,"Titel"%>
  <%= f.text_field :title %> <br>
  <%= f.label :link,"Link"%>
  <%= f.text_field :link  %>
  <%= f.submit "Submit" %>
<% end %>
